<!DOCTYPE html>

<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-language" content=”fr” />
<meta name="description" content="Anglais, espagnol, italien et français... Pour une traduction de qualité, nous vous offrons un suivi personnalisé à court comme à long terme. Nous déterminons ensemble vos besoins afin de satisfaire au mieux vos exigences." />
<meta name="keywords" content="traduction anglais français, traduction espagnol français" />
<title>Services - Tradackle Traduction</title>
<link href="images/estilos2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10704629-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="general">
    <div id="cabecera">
    	<div id="logo"><img src="/images/logo.gif" alt="" /></div>
   		<div id="besoin-de-traduire"><img src="/images/besoin-de-traduire-vos-idees.gif" alt=""/></div>
        <div id="menu">
            <a href="index.html" title="Traduction"><img src="../../public/images/accueil.gif" alt="traduction" /></a>
            <a href="services.html" title="Traduction et interpretation"><img src="../../public/images/services-active.gif" alt="traduction et interpretation"/></a>
            <a href="atouts.html" title="domaines de traduction"><img src="../../public/images/atouts.gif" alt="domaines de traduction" /></a>
            <a href="tarifs.html" title="tarifs"><img src="../../public/images/tarifs.gif" alt="clients"/></a>
            <a href="contact.html" title="coordonées de contact"><img src="../../public/images/contact.gif" alt="coordonées de contact"/></a>
            <a href="equipe-de-traduction-anglais-italien-espagnol-francais.html" title="équipe de traduction anglais français italien espagnol"><img src="../../public/images/notre-equipe.gif" alt="équipe de traduction anglais français italien espagnol"/></a>
        </div>  
  	</div> <!-- cabecera -->
      <div id="cuerpo_central">
          <div id="contenido_central">
            <h1>Services</h1>
            <p>Anglais, espagnol, italien et français...</p>
            <p>Pour une traduction de qualité, nous vous offrons un suivi personnalisé à court comme à long terme. Nous déterminons ensemble vos besoins afin de satisfaire au mieux vos exigences.</p>
            <p><strong>Vous souhaitez faire traduire quelques lignes, un courrier, un dossier ou un document court ?</strong></p>
            <p>Nous saurons répondre à vos demandes pour des projets ponctuels.</p>
            <p><strong>Vous avez besoin de traduire des documents plus longs, des mises à jour, des publications pluriannuelles ou d'autres documents nécessitant un suivi sur une période prolongée ?</strong></p>
            <p>Nous vous apportons la garantie d'une réponse sur mesure et d'une cohérence terminologique tout au long de notre collaboration.</p>
            <p>Toutes les traductions font l'objet d'une relecture rigoureuse. En outre, nous travaillons dans la plus grande confidentialité afin de protéger le contenu de vos documents. Nous nous conformons également aux conditions générales de prestations de service recommandées par la Société française des Traducteurs (SFT) que vous pouvez consulter à l’adresse suivante :</p>
            <p><a href="http://www.sft.fr/page361.html" rel="nofollow">http://www.sft.fr/page361.html</a>
    </p> 	
       </div><!-- contenido_central -->
        <dl id="idiomas">
            <dd id="anglais_def">
                  <a href="#" title="lien version anglaise"></a>
            </dd>
            <dd id="espagnol_def">
                  <a href="#" title="lien version espagnole"></a>
            </dd>
            <dd id="italien_def">
                  <a href="#" title="lien version italienne"></a>
            </dd>
            <dd id="francais_def">
              <a href="#" title="lien version française"></a>
            </dd>
        </dl>
        </div><!-- cuerpo_central -->
        <div id="fin_contenido_central"></div>
      
    	<div id="pie">Tradackle 2010 - E-mail :
            <a href="mailto:info@@tradackle.com">info@@tradackle.com</a>
		</div>
</div> <!-- general --> 
    

</body>
</html>
