<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-language" content=”fr” />
<meta name="description" content="Chaque commande de traduction étant unique, nous calculons nos tarifs en fonction du volume et de la nature du projet. Pour obtenir un devis gratuit ou des informations complémentaires, n'hésitez pas à nous contacter. Vous trouverez nos coordonnées dans la section « Contact » info@@tradackle-traduction.com" />
<meta name="keywords" content="traduction anglais français, traduction espagnol français" />
<title>Nos tarifs - Tradackle Traduction</title>
<link href="images/estilos2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10704629-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="general">
    <div id="cabecera">
    	<div id="logo"><img src="/images/logo.gif" alt="" /></div>
   		<div id="besoin-de-traduire"><img src="/images/besoin-de-traduire-vos-idees.gif" alt=""/></div>
		<div id="menu">
        	<a href="index.html" title="Traduction"><img src="../../public/images/accueil.gif" alt="traduction" /></a>
  			<a href="services.html" title="Traduction et interpretation"><img src="../../public/images/services.gif" alt="traduction et interpretation"/></a>
            <a href="atouts.html" title="domaines de traduction"><img src="../../public/images/atouts.gif" alt="domaines de traduction" /></a>
            <a href="tarifs.html" title="tarifs"><img src="../../public/images/tarifs-active.gif" alt="clients"/></a>
            <a href="contact.html" title="coordonées de contact"><img src="../../public/images/contact.gif" alt="coordonées de contact"/></a>
            <a href="equipe-de-traduction-anglais-italien-espagnol-francais.html" title="équipe de traduction anglais français italien espagnol"><img src="../../public/images/notre-equipe.gif" alt="équipe de traduction anglais français italien espagnol"/></a>
        </div>
  	</div> <!-- cabecera -->
  	<div id="cuerpo_central">
        <div id="contenido_central">
            <h1>Nos tarifs</h1>
            <br />
            <p>Chaque commande de traduction étant unique, nous calculons nos tarifs en fonction du volume et de la nature du projet.</p>
            <p>Pour obtenir un devis gratuit ou des informations complémentaires, n'hésitez pas à nous contacter. Vous trouverez nos coordonnées dans la section « Contact ».</p>
            <p class="centrado"> <a href="mailto:info@@tradackle.com">info@@tradackle.com</a></p>
       </div>
       <dl id="idiomas">
            <dd id="anglais_def">
                  <a href="#" title="lien version anglaise"></a>
            </dd>
            <dd id="espagnol_def">
                  <a href="#" title="lien version espagnole"></a>
            </dd>
            <dd id="italien_def">
                  <a href="#" title="lien version italienne"></a>
            </dd>
            <dd id="francais_def">
              <a href="#" title="lien version française"></a>
            </dd>
      </dl>
    </div><!-- cuerpo_central -->
	<div id="fin_contenido_central"></div>
      
    	<div id="pie">Tradackle 2010 - E-mail :
            <a href="mailto:info@@tradackle.com">info@@tradackle.com</a>
		</div>
</div> <!-- general --> 
    

</body>
</html>
