<!DOCTYPE html>

<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-language" content=”fr” />
<meta name="description" content="Fiche Ludivine Gotor Duquenoy. Titulaire d’un DESS de Traduction professionnelle de l’Institut de Traducteurs, d’Interprètes et de Relations Internationales (ITI-RI) de Strasbourg et forte de près de trois ans d'expérience en tant que traductrice indépendante." />
<meta name="keywords" content="traduction anglais français, traduction espagnol français, traducteur anglais français, traducteur espagnol français, traduction anglais francais, traduction espagnol francais, traducteur anglais francais, traducteur espagnol francais, traduction francais espagnol, traducteur francais espagnol, traduction français espagnol, traducteur français espagnol" />
<title>Ludivine Gotor Duquenoy - Tradackle Traduction - anglais espagnol vers français</title>
<link href="images/estilos2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10704629-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="general">
    <div id="cabecera">
    	<div id="logo"><img src="/images/logo.gif" alt="" /></div>
   		<div id="besoin-de-traduire"><img src="/images/besoin-de-traduire-vos-idees.gif" alt=""/></div>
        <div id="menu">
        	<a href="index.html" title="Traduction"><img src="../../public/images/accueil.gif" alt="traduction" /></a>
            <a href="services.html" title="Traduction et interpretation"><img src="../../public/images/services.gif" alt="traduction et interpretation"/></a>
            <a href="atouts.html" title="domaines de traduction"><img src="../../public/images/atouts.gif" alt="domaines de traduction" /></a>
            <a href="tarifs.html" title="tarifs"><img src="../../public/images/tarifs.gif" alt="clients"/></a>
            <a href="contact.html" title="coordonées de contact"><img src="../../public/images/contact.gif" alt="coordonées de contact"/></a>
            <a href="equipe-de-traduction-anglais-italien-espagnol-francais.html" title="équipe de traduction anglais français italien espagnol"><img src="../../public/images/notre-equipe.gif" alt="équipe de traduction anglais français italien espagnol"/></a>
        </div>  
	</div> <!-- cabecera -->
      <div id="cuerpo_central">
          <div id="contenido_central">
            <div id="foto_ficha"><img src="../../public/images/traduction-anglais-espagnol-francais-ludivine.jpg" alt="traduction anglais espagnol francais"/></div>
            <h1>Fiche Ludivine Gotor Duquenoy</h1>    	
            <p><strong>Basse-Normandie</strong></p>
            <p><strong>Siret</strong> : 509 278 495 00015</p>
            <p><strong>Site Internet : </strong><a href="http://www.lgd-traduction.com" target="_blank" title="traduction anglais français espagnol">http://www.lgd-traduction.com</a></p>
            <p>Titulaire d’un DESS de Traduction professionnelle de l’Institut de Traducteurs, d’Interprètes et de Relations Internationales (ITI-RI) de Strasbourg et membre d’ASATI (Association de traducteurs et interprètes de l’Aragon - Espagne). Forte de plus de 5 ans d'expérience en tant que traductrice indépendante.</p>
            <p>Voici une liste non exhaustive de mes différents domaines de compétences.</p>
            <h2>Traduction Anglais-Français/Espagnol-Français/Français-Espagnol</h2>
            <ul>
                <li><strong>Tourisme et hôtellerie : </strong>plusieurs sites Internet.</li>
                <li><strong>Gastronomie : </strong>cartes et menus, 3 grands livres de gastronomie (avec leurs CD de recettes).</li>
                <li><strong>Santé publique : </strong>lutte antitabac.</li>
                <li><strong>Juridique : </strong>documents d’un cabinet d’avocats espagnols adressés à l’Office de l’harmonisation dans le marché intérieur (Marques).</li>
                <li><strong>Hydrologie : </strong>rapport sur l’impact du Plan hydrologique national espagnol sur la région pyrénéenne </li>
                <li><strong>Correspondance commerciale, revues d’entreprises</strong></li>
                <li><strong>Médical : </strong>chirugie réfractive et questionaux médicaux.</li>
                <li><strong>Matériel de puériculture : </strong>manuels d’utilisation.</li>
                <li><strong>Mode : </strong>sites de différentes marques de vêtements et accessoires.</li>
                <li><strong>Contes pour enfants</strong></li>
                <li><strong>Règles de jeux de société</strong></li>
                <li><strong>Techniques: </strong>vitrage, ascenseurs, éoliennes, etc.</li>
            </ul>
          <h2>Interprétation de liaison Espagnol-Français/Français-Espagnol</h2>
            <ul>
                <li>PLAZA Zaragoza (Plateforme logistique de Saragosse, Espagne)</li>
                <li>Ayanet Zaragoza (Informatique, Espagne)</li>
            </ul>
             <div id="traductrices">
                <ul>
                    <li><a href="traduction-anglais-italien-francais-anne-sophie.html" title="traducteur anglais italien français">Anne-Sophie Rousse</a></li>
                    <li><a href="traduction-anglais-italien-francais-cecile.html" title="traducteur anglais italien français">Cécile Guarin</a></li>
                    <li><a href="traduction-anglais-italien-francais-katia.html" title="traducteur anglais italien français">Katia Babbi</a></li>
                    <li><a href="traduction-anglais-espagnol-francais-ludivine.html" title="traducteur anglais espagnol français">Ludivine Duquenoy</a></li>
                    <li><a href="traduction-anglais-espagnol-francais-eliane.html" title="traducteur anglais espagnol français">Eliane Bannwarth</a></li>
                </ul>
            </div>
       </div><!-- fin contenido-ficha-->
       <dl id="idiomas">
            <dd id="anglais_def">
                  <a href="#" title="lien version anglaise"></a>
            </dd>
            <dd id="espagnol_def">
                  <a href="#" title="lien version espagnole"></a>
            </dd>
            <dd id="espagnol_def">
                  <a href="#" title="lien version espagnolne"></a>
            </dd>
            <dd id="francais_def">
              <a href="#" title="lien version française"></a>
            </dd>
      </dl>
        </div><!-- cuerpo_central -->
        <div id="fin_contenido_central"></div>
      
    	<div id="pie">Tradackle 2010 - E-mail :
            <a href="mailto:info@@tradackle.com">info@@tradackle.com</a>
		</div>
</div> <!-- general --> 
    

</body>
</html>
