<!DOCTYPE html>

<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-language" content=”fr” />
<meta name="description" content="Fiche Katia Babbi. Titulaire d’un DESS de Traduction professionnelle de l’Institut de Traducteurs, d’Interprètes et de Relations Internationales (ITI-RI) de Strasbourg et forte de près de trois ans d'expérience en tant que traductrice indépendante." />
<meta name="keywords" content="traduction anglais français, traduction italien français, traducteur anglais français, traducteur italien français, traduction anglais francais, traduction italien francais, traducteur anglais francais, traducteur italien francais" />
<title>Katia Babbi - Tradackle Traduction - anglais italien vers français</title>
<link href="images/estilos2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10704629-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
<div id="general">
    <div id="cabecera">
    	<div id="logo"><img src="images\logo.gif" alt="" /></div>
   		<div id="besoin-de-traduire"><img src="images\besoin-de-traduire-vos-idees.gif" alt=""/></div>
        <div id="menu">
            <a href="index.html" title="Traduction"><img src="../../public/images/accueil.gif" alt="traduction" /></a>
            <a href="services.html" title="Traduction et interpretation"><img src="../../public/images/services.gif" alt="traduction et interpretation"/></a>
            <a href="atouts.html" title="domaines de traduction"><img src="../../public/images/atouts.gif" alt="domaines de traduction" /></a>
            <a href="tarifs.html" title="tarifs"><img src="../../public/images/tarifs.gif" alt="clients"/></a>
            <a href="contact.html" title="coordonées de contact"><img src="../../public/images/contact.gif" alt="coordonées de contact"/></a>
            <a href="equipe-de-traduction-anglais-italien-espagnol-francais.html" title="équipe de traduction anglais français italien espagnol"><img src="../../public/images/notre-equipe.gif" alt="équipe de traduction anglais français italien espagnol"/></a>
        </div>
	</div> <!-- cabecera -->
    <div id="cuerpo_central">
          <div id="contenido_central">
              	<div id="foto_ficha"><img src="../../public/images/traduction-anglais-italien-francais-katia.jpg" alt="traduction anglais italien français"/></div>
            <h1>Fiche Katia Babbi</h1>    	
            <p><strong>Rhône</strong></p>
            <p><strong>Site Internet : </strong><a href="http://www.traditall.com" target="_blank" title="traduction anglais italien français">http://www.traditall.com</a></p>
            <p><strong>Siret</strong> : 482 266 720 00022</p>
            <p>Titulaire d’un DESS de Traduction professionnelle de l’Institut de Traducteurs, d’Interprètes et de Relations Internationales (ITI-RI) de Strasbourg et forte de plus de 5 ans d'expérience en tant que traductrice indépendante.</p>
            <p>Voici une liste non exhaustive de mes différents domaines de compétences.</p>
            <h2>Traduction anglais-italien => français</h2>
            <ul>
                <li><strong>Communication : </strong>traduction d'articles sur la lutte contre la traite des êtres humains pour Interpol, traduction de communiqués de presse divers, de discours pour le Forum FIVA organisé à Turin en 2008 (notamment le discours de M. Alfieri Maserati).</li>
                <li><strong>Technique : </strong>traduction de modes d’emploi d’appareils divers, de brochures et dessins techniques, d’un projet de construction d'un parc d’éoliennes, de la présentation du projet de construction de la KAUST en Arabie Saoudite.</li>
                <li><strong>Tourisme et hôtellerie  : </strong>traduction de brochures touristiques pour Costa Croisières, traduction d’un site touristique en Italie (à destination de bornes interactives en Vallée d’Aoste).</li>
                <li><strong>Informatique : </strong>traduction de divers sites Internet, de logiciel de réservation de voyage, d’applications pour l’iPhone.</li>
                <li><strong>Correspondance commerciale</strong>, <strong>newsletters d’entreprises</strong> (entre autres pour Nordson)</li>
                <li><strong>Mode : </strong>traduction de présentations de collections de vêtements et accessoires pour Esprit et Morgan.</li>
            </ul>
            <div id="traductrices">
                <ul>
                    <li><a href="traduction-anglais-italien-francais-anne-sophie.html" title="traducteur anglais italien français">Anne-Sophie Rousse</a></li>
                    <li><a href="traduction-anglais-italien-francais-cecile.html" title="traducteur anglais italien français">Cécile Guarin</a></li>
                    <li><a href="traduction-anglais-italien-francais-katia.html" title="traducteur anglais italien français">Katia Babbi</a></li>
                    <li><a href="traduction-anglais-espagnol-francais-ludivine.html" title="traducteur anglais espagnol français">Ludivine Duquenoy</a></li>
                    <li><a href="traduction-anglais-espagnol-francais-eliane.html" title="traducteur anglais espagnol français">Eliane Bannwarth</a></li>
                </ul>
            </div>
       </div><!-- fin contenido-ficha-->
       <dl id="idiomas">
            <dd id="anglais_def">
                  <a href="#" title="lien version anglaise"></a>
            </dd>
            <dd id="espagnol_def">
                  <a href="#" title="lien version espagnole"></a>
            </dd>
            <dd id="italien_def">
                  <a href="#" title="lien version italienne"></a>
            </dd>
            <dd id="francais_def">
              <a href="#" title="lien version française"></a>
            </dd>
      </dl>
	</div><!-- cuerpo_central -->
    <div id="fin_contenido_central"></div>
  
    <div id="pie">Tradackle 2010 - E-mail :
        <a href="mailto:info@@tradackle.com">info@@tradackle.com</a>
    </div>
</div> <!-- general --> 
    

</body>
</html>
